extends layouts/global

block head
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-254701-1', 'auto');
    ga('send', 'pageview');

block head2
  link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Acme|Nunito')
  link(rel='stylesheet' href='/stylesheets/monokai_sublime.css')
  script(src='/behaviors/highlight.pack.js')
  script.
    hljs.initHighlightingOnLoad();

block content
  #content
    header
      .wrapper
        h1 Mike Smullin's
        h2 personal website

    article
      .wrapper
        p "It's amazing!"
        p "Incredibly useful."
        p "Relevant."
        p "Timely."
        p "Better than the alternatives."
        br
        p: a(href="https://medium.com/@mikesmullin/latest") Medium.com Blog
        p: a(href="http://linkedin.com/in/mikesmullin") LinkedIn.com Profile
        p: a(href="http://cdn.smullindesign.com/Mike%20Smullin%20Resume.pdf") Resume
        p: a(href="http://mikesmullin.github.io/borg-docs/") Borg DevOps
        p: a(href="http://www.smullindesign.com/") Paid Services
        p: a(href="http://codepen.io/mikesmullin/") Codepen
        p: a(href="http://steamcommunity.com/id/mikesmullin/myworkshopfiles/?appid=0&sort=score&browsefilter=myfiles&view=imagewall") Steam Workshop Mods
        p: a(href="http://games.mikesmullin.com/") Games

    aside
      .wrapper

    footer
      .wrapper
