extends layouts/global

block head2
  link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Acme|Nunito')
  link(rel='stylesheet' href='/stylesheets/monokai_sublime.css')
  script(src='/behaviors/highlight.pack.js')
  script.
    hljs.initHighlightingOnLoad();

block content
  #content
    header
      .wrapper
        h1 Mike Smullin's
        h2 personal website

    article
      .wrapper
        p "It's amazing!"
        p "Incredibly useful."
        p "Relevant."
        p "Timely."
        p "Better than the alternatives."
        br
        p: a(href="https://medium.com/@mikesmullin/latest") Medium.com Blog
        p: a(href="http://linkedin.com/in/mikesmullin") LinkedIn.com Profile
        p: a(href="https://dl.dropboxusercontent.com/u/12710135/Mike%20Smullin%20Resume.pdf") Resume
        p: a(href="http://mikesmullin.github.io/borg-docs/") Borg Project
        p: a(href="http://www.smullindesign.com/") Paid Services

    aside
      .wrapper

    footer
      .wrapper
